@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMonoNL-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #1a1a1a;
    color: #056d45;
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1b1b1b;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(3, 3, 3, 0);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #056d45;
    margin: 0;
    opacity: 0;
    animation: slideIn 1s forwards, hoverAnimation 2s infinite ease-in-out, glitch 3s infinite, hoverAnimationText 1s infinite;
    font-family: 'JetBrains Mono', monospace;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
}

h1:hover {
    transform: translateY(-5px);
}

h1::after {
    content: '_';
    animation: blinkCursor 0.8s infinite;
    position: absolute;
    bottom: -2px;
}

nav {
    display: flex;
    gap: 200px;
    font-family: 'JetBrains Mono', monospace;
    margin-right: 15px;
    max-width: 70%;
    overflow-x: auto;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #056d45;
}

@keyframes glitch {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        transform: none;
        color: #056d45;
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: skewX(-5deg);
        color: #00e38c;
    }
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes hoverAnimation {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

@keyframes hoverAnimationText {

    0%,
    100% {
        color: #056d45;
        transform: translateY(0);
    }

    50% {
        color: #00e38c;
        transform: translateY(-5px);
    }
}

@keyframes blinkCursor {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

p {
    line-height: 1.5;
}

.container {
    text-align: center;
    padding-top: 80px;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-5px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(5px);
    }
}

@keyframes distortionAnimation {

    0%,
    100% {
        transform: none;
    }

    25% {
        transform: scaleX(1) skewY(-5deg);
    }

    50% {
        transform: scaleY(1) skewX(5deg);
    }

    75% {
        transform: scaleX(1) skewY(5deg);
    }
}

h1:hover {
    animation: slideIn 1s forwards, hoverAnimation 2s infinite ease-in-out, glitch 3s infinite, hoverAnimationText 1s infinite, distortionAnimation 1s infinite;
    transform: translateY(-5px);
}

@keyframes transformToEmoji {

    0%,
    100% {
        content: '~$H4ch1net';
    }

    50% {
        content: '👁️👁️';
    }
}

@keyframes transformToEyes {
    0% {
        transform: none;
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: none;
    }
}

.eyes-transform {
    animation: transformToEyes 2s forwards;
}

@keyframes transformToEyes {
    0% {
        transform: none;
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: none;
    }
}

.eyes-transform {
    animation: transformToEyes 2s forwards;
}


nav {
    display: flex;
    gap: 30px;
    font-family: 'JetBrains Mono', monospace;
    margin-right: 100px;
    max-width: 100%;
    overflow-x: auto;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-end;
        max-width: 100%;
        overflow-x: hidden;
    }

    nav a {
        display: block;
        margin-bottom: 10px;
    }
}



body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
}

h1:hover {

    color: black;
}

/* -- YouTube Link Styles -- */

body.menu-toggled>.meta-link>span {
    color: rgb(11, 11, 11);
}

#source-link {
    bottom: 60px;
}

#source-link>i {
    color: rgb(94, 106, 210);
}

#yt-link>i {
    color: rgb(239, 83, 80);
}

.meta-link {
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    bottom: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: inline-flex;
    gap: 5px;
    left: 10px;
    padding: 10px 20px;
    position: fixed;
    text-decoration: none;
    transition: background-color 400ms, border-color 400ms;
    z-index: 10000;
}

.meta-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link>i,
.meta-link>span {
    height: 20px;
    line-height: 20px;
}

.meta-link>span {
    color: white;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-end;
        max-width: 100%;
        overflow-x: hidden;
    }

    nav a {
        display: block;
        margin-bottom: 10px;
    }

    /* Mobile optimization styles */
    body {
        display: grid;
        place-items: center;
        overflow: auto;
    }

    header {
        position: static;
    }

    nav {
        margin-right: 0;
    }

    nav a {
        display: inline-block;
        margin: 0 10px;
    }

    .container {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }
}